{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Math Simple{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <h1 class="logo"><a href="{% url 'post-list' %}">Math Simple</a></h1>
            <nav class="nav-links">
                <a href="{% url 'post-list' %}">Posts</a>
                <a href="{% url 'category-list' %}">Categorias</a>
                {% if user.is_authenticated %}
                    {% if user.is_authenticated and user.is_staff %}
                         <a href="{% url 'post-create' %}" class="btn btn-small">Publicar Post</a>
                    {% endif %}
                    <span>Olá, {{ user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-small">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-small">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© {{ now|date:"Y" }} Math Simple. Todos os direitos reservados.</p>
    </footer>
</body>
</html>